body{
  font-family: 'Roboto', sans-serif;
  background-color: gainsboro;
}
.container{
  margin: 0 auto;
  width: 1219px;
  padding: 0 55px;
}
.header{
  background-color: #007765;
  color: #ffffff;
  background-image: url(bg.jpeg);
}
.menu{
  height: 84px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.menu__ul{
  list-style: none;
  display: flex;
}
.menu__li{
  margin-right: 8px;
  font-weight: 500;
  font-size: 24px;
}
.menu__li a{
  text-decoration: none;
  color: #ffffff
}
.home{
  background-image: url(../img/bg/head.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__title{
  font-weight: 500;
  font-size: 72px;
}
.problem{
  background-color: #ffffff;
}
.title{
  padding: 48px 0 16px;
  color: #007765;
  text-align: center;
  font-weight: 500;
  font-size: 64px;
}
.text{
  font-size: 32px;
}
.content{
  padding-bottom: 92px;
}
.hero{
  height: 483px;
  background-size: cover;
  background-image: url(../img/bg/hero.png);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text{
  max-width: 895px;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}
.coin{
  background-color: #ffffff;
}
.coin img{
  float: left;
  margin-right: 48px;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
figcaption{
  font-weight: 700;
  font-size: 24px;
  color: #007765;
  text-align: center;
}
.caption{
  margin:0;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.team{
  background-color: #eeeeee;
  padding-bottom: 100px;
}
footer{
  background-color: #333333;
}
.footer_text{
  margin:0 auto;
  max-width: 540px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  padding: 50px;
}
